.mainHero {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  background-position: center;

  background-repeat: no-repeat;
}

.mainHeroSmall {
  background-size: 25%;
}

.mainHeroMedium {
  background-size: 32%;
}

.mainHeroBig {
  background-size: 56%;
}
