.mainHero {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}

.mainHero img {
  margin: auto;
  padding: auto;
}

.mainHeroShowing {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.mainHeroHidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.mainHeroSmall {
  width: 32%;
  height: auto;
}

.mainHeroMedium {
  width: 38%;
  height: auto;
}

.mainHeroBig {
  width: 56%;
  height: auto;
}
