body {
  --font-size-default: 14px;
  --font-family-default: "Instrument Serif Regular";

  --color-background: #000000;
  --color-text-default: #ffffff;
  --color-link-hover: #dac612;

  --main-top-margin: 1.5rem;
  --main-bottom-margin: 1rem;
}
