.rightChapter {
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-bottom: 2rem;
}

.rightChapterMObileLandscape {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-bottom: 2rem;
}

.rightChapterWithTopMargin {
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.rightChapterWithTopMarginLandScape {
  width: 100%;
  min-height: 3rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.rightChapter ul li {
  text-align: left;
}

.rightChapter li:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

.rightChapterNavLink {
  margin-left: 1rem;
}

.rightChapterComingSoon {
  width: 100%;
  text-align: left;
  text-wrap: nowrap;
  margin: 0;
  margin: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.rightOltEventLink {
  margin-left: 2rem;
}

.rightChapterBottomRightLandscape {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  top: -3rem;
}

.rightChapterBottomRight {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin-bottom: -1rem;
  margin-top: auto;
}
