.gifLogo div {
  display: flex;
}

.gifLogo img {
  display: flex;
  position: relative;
  margin: auto;
  align-items: center;
  height: 50%;
}

.gifLandScape img {
  display: flex;
  position: relative;
  margin: auto;
  align-items: center;
  height: 70px;
}

.gifHiden {
  display: none;
}
