.gifLogo div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.gifLogo img {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.gifLandScape img {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  width: 50px;
}

.gifHiden {
  display: none;
}
