.layoutCenter {
  z-index: 0;
  width: 29rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.layoutCenterMobile {
  z-index: 0;
  display: none;
}
