.bottomLogoBar {
  width: 100%;
  height: 13rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottomLogoBarMobile {
  position: relative;
  width: 100%;
  height: 13rem;
  margin: 0 auto 8rem auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
}
