.bottomLogoBar {
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottomLogoBarMobile {
  position: absolute;
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 170%;
  background-color: transparent;
}
